/**************
 WHOLE STYLE
***************/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none; color:#666;}
a:hover{color:#1bc1a3;}


/**************
 CATEGORY STYLE
***************/
.main_category_container{margin: auto;width: 1136px;padding-top: 50px;height: 150px;}

li.main_category_item{float: left;padding-right: 121px;margin-left: 10px;}
li.main_category_item:last-child{float: left;padding-right: 0px;}

.main_category_icon_img img{width: 100px;}
.main_category_icon_title{font-size: 18px;text-align: center;width: 120px;}

/************
  ZIP STYLE
*************/
.main_zip_wrapper{padding-top: 50px;}
.main_zip_container{margin: auto;width: 1136px;}
.main_zip_header{}
.main_zip_header-content{color: black;text-align: left;font-size: 25px;}

.main_zip_image-wrap{border: 1px solid red;width: 100%;height: 120px;}
ul.main_zip_content_item{margin-top: 15px;display: flex;flex-wrap:wrap;flex-direction:column;align-content:space-between;width: 1136px;height: 300px;}
li.main_zip_content{float: left;margin-right: 30px;border: 1px solid gray;width: 260px;height: 300px;}


/************
 PHOTO STYLE
*************/
.main_photo_wrapper{padding-top: 50px;}
.main_photo_container{margin: auto;width: 1136px;height: 600px;}
.main_photo_header{}
.main_photo_header_content{color: black;float: left;font-size: 25px;}
.main_photo_header_more{float: right;color: #35C5F0;font-size: 18px;}
.main_photo_header_more:hover{color: #35C5F0;text-decoration: underline;cursor: pointer;}

ul.main_photo_list{margin-top: 15px;width: 1136px;height: 600px;display: flex;flex-wrap:wrap;flex-direction:column;align-content:space-between;}
li.main_photo_items{float: left;width: 270px;height: 270px;border: 1px solid gray;margin-right:16px;margin-top:16px;}


/********************
 DEAL - BEST100 STYLE
*********************/
.main_recommends_wrapper{padding-top: 50px;}
.main_recommends_container{margin: auto;width: 1136px;height: 300px;}
.main_recommends_header{}
.main_recommends_header_content{color: black;float: left;font-size: 25px;}
.main_recommends_header_more{float: right;color: #35C5F0;font-size: 18px;}
.main_recommends_header_more:hover{color: #35C5F0;text-decoration: underline;cursor: pointer;}

/*****DEAL SLIDER*****/
#main_recommends_slider_wrap{width: 1136px;position:relative;overflow:hidden;-moz-border-radius: 10px;-webkit-border-radius: 10px;}

ul#main_recommends_product_list{width:1136px;position:absolute;top:0;left:0;float: left;display: flex;flex-wrap: nowrap;flex-direction: row;align-content: space-between;}
li.main_recommends_product_items{float:left;position:relative;width: 100%;padding:5px;}
li.main_recommends_product_items > div{position:relative;top:20px;}
li.main_recommends_product_items > div h3{font-size:36px;text-transform:uppercase;}
li.main_recommends_product_items img{display:block;width:180px;height:100%;}

/*BUTTONS*/
.recommends_btns_wrapper{position: relative;}
.recommends_btns{
position:absolute;width:40px;height:40px;top:-180px;margin-top:-88px;text-align:center;cursor:pointer;background:#FFFFFF;background:rgba(255,255,255,0.5);z-index:100;    
-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);border-radius:30px;
-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;-ms-transition: all 0.1s ease;transition: all 0.1s ease;
}
.recommends_btns:hover{background:#35C5F0;color: #FFFFFF;}
.recommends_btns span{font-weight: bold;font-size: large;}
.recommends_btns.next{right:-18px;}
.recommends_btns.previous{left:-18px;}


/*BAR*/
#recommends_pagination-wrap{min-width:20px;margin-top:350px;margin-left: auto;margin-right: auto;height:15px;position:relative;text-align:center;}
#recommends_pagination-wrap ul {width:100%;}
#recommends_pagination-wrap ul li{margin: 0 4px;display: inline-block;border-radius:50%;background:#fff;position:relative;width:12px;height:12px;top:3px;opacity:1;box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;}
/* #recommends_pagination-wrap ul li.active{width:12px;height:12px;top:3px;opacity:1;box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;} */

/*HEADER*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 

/*ANIMATION*/
#main_recommends_slider_wrap ul, #recommends_pagination-wrap ul li{
-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}



/************
 RANK STYLE
*************/
.main_rank_wrapper{padding-top: 50px;}
.main_rank_container{margin: auto;width: 1136px;height: 300px;}
.main_rank_header{}
.main_rank_header_content{color: black;float: left;font-size: 25px;}
.main_rank_header_more{float: right;color: #35C5F0;font-size: 18px;}
.main_rank_header_more:hover{color: #35C5F0;text-decoration: underline;cursor: pointer;}

ul.main_rank_list{margin-top: 15px;display: flex;flex-wrap:wrap;flex-direction:column;align-content:space-between;width: 1136px;height: 300px;}
li.main_rank_item{float: left;margin-right: 30px;border: 1px solid gray;width: 260px;height: 260px;margin-top: 10px;}


/****************
 MAIN IMAGE STYLE
*****************/
.main_header_more{
	border: 1px solid black;
	border-color: white;
	left: 655px;
	top: -110px;
	font-size: 15px;
	width: 100px;
	height: 20px;
	text-align: center;
	padding: 18px;
	border-radius: 5px;
	color: white;
	z-index: 2;
	position: absolute;
}
.main_header_more.active{
	border: 0px;
	border: 1px solid #35C5F0;
	background: #35C5F0;
}

a.main_header div.main_header_image{overflow: hidden;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
a.main_header div.main_header_image img{width: 850px;height: 500px;float: left;}
a.main_header div.main_header_image img:hover{transform:scale(1.1);-webkit-transform:scale(1.1);transition:0.2s transform}

#wrapper{
    width:1136px;
    height:500px;
    color:#fff;
    text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
    margin: auto;
}

.main_header_content-wrap {
	position: relative;
}


/*********
  BANNER
**********/
.row{float: left; margin-right: 10px}
.row2{float: right;}

#slider-wrap{width:270px;height:500px;position:relative;overflow:hidden;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
#slider-wrap ul#slider{width:100%;height:100%;position:absolute;top:0;left:0;}
#slider-wrap ul#slider li{float:left;position:relative;height:500px;}
#slider-wrap ul#slider li > div{position:absolute;top:20px;left:35px;}
#slider-wrap ul#slider li > div h3{font-size:36px;text-transform:uppercase;}
#slider-wrap ul#slider li > div span{font-family: Neucha, Arial, sans serif;font-size:21px;}
#slider-wrap ul#slider li img{display:block;width:270px;height:100%;}

/*BUTTONS*/
.btns{
position:absolute;width:50px;height:60px;top:50%;margin-top:-25px;line-height:57px;text-align:center;cursor:pointer;background:rgba(0,0,0,0.1);z-index:100;    
-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;
-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;-o-transition: all 0.1s ease;-ms-transition: all 0.1s ease;transition: all 0.1s ease;
}
.btns:hover{background:rgba(0,0,0,0.3);}
#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}

/*BAR*/
#pagination-wrap{min-width:20px;margin-top:350px;margin-left: auto;margin-right: auto;height:15px;position:relative;text-align:center;}
#pagination-wrap ul {width:100%;}
#pagination-wrap ul li{margin: 0 4px;display: inline-block;width:5px;height:5px;border-radius:50%;background:#fff;opacity:0.5;position:relative;top:0;}
#pagination-wrap ul li.active{width:12px;height:12px;top:3px;opacity:1;box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;}

/*HEADER*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}