#project_form_wrap #total_change {
	position: relative;
    text-align: center;
    font-size: 14px;
    background: rgba(66,66,66,0.9);
    color: #ffffff;
    margin-bottom: 50px;
    padding: 3px 0 0;
    height: 55px;
}

#project_form_wrap #total_change .header {
	position: absolute;
    top: 0;
    left: 60px;
    padding: 13px 0;
    line-height: 30px;
}

#project_form_wrap #total_change .wrap_panel {
	display: inline-block;
    overflow: hidden;
}

#project_form_wrap #total_change .wrap_panel .title {
	float: left;
    line-height: 50px;
    padding: 0 10px;
}

.total_align_icon img {
	width: 40px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    float: left;
}

.uploadform-logo {
	width: 70px;
}