@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, 
input, textarea, p, blockquote, th, td{
	margin: 0;
	padding: 0;
}

html, body{
    font-size: 15pt;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 1px;
}

#order_result{
    font-size: 14px;
    width: 760px;
    margin: 100px auto 0;
}

#order_result #title{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 1;
    color: #424242;
    border-bottom: 2px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.list{
   	font-size: 15px;	
    padding: 10px 10px 10px;
}

.list_panel{
	margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.title{
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
}

.content{
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    text-align: right;
}

#end{
	font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 1;
    color: #424242;
    border-top: 2px solid #eee;
}