@charset "utf-8";

html, body{
	/* font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif; */
	letter-spacing: -0.4px;
}

body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, 
input, textarea, p, blockquote, th, td{
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, th, var{
	font-style: normal;
	font-weight: normal;	
}

input, textarea, select, button{
	font-size: inherit;	
}

/* .main{
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-ms-flex-negative: 0;
	min-height: 1px;
	font-weight: normal;
} */

#main{
	font-weight: normal;
}


.container{
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 30px);
	max-width: 100%;
	box-sizing: border-box;
	min-height: 1px;
}

.row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-right: -5px;
	margin-left: -5px;
}

.col-12{
	position: relative;
	width: 100%;
	min-height: 1px;
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

.card-feed{
	position: relative;	
}

.card-feed__filter-container{
	margin-top: 5px;
	z-index: 100;
	transition: top .1s;
}

.card-feed__filter-wrap{
	padding: 10px 0 5px;
    background-color: #fff;
    z-index: 100;
    transition: top .1s;
}

.filter-bar__control-list{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-width: 0;
	margin: 0 -2px;
	padding: 5px 0;
	overflow: auto;
}

.filter-bar__control-list__left, .filter-bar__control-list__right{
	-moz-box-flex: 0;
	flex: 0 0 auto;
	min-width: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

.filter-bar__control-list__item{
	display: inline-block;
	margin: 0 2px;
	vertical-align: bottom;
	font-size: 0;
	line-height: 0;
}

.drop-down{
	position: relative;
	display: inline-block;
}

.button{
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid transparent;
	background: none;
	font-family: inherit;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: color .1s,background-color .1s,border-color .1s,box-shadow .1s;
	cursor: pointer;
}

.filter-bar-control__button{
	font-size: 15px;
	line-height: 19px;
	padding: 7px 8px 6px;
	border-radius: 4px;
}

.button--color-gray-0.disabled, .button--color-gray-0:disabled, .button--color-gray-4{
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: #757575;	
}

.filter-bar-control__button > .icon{
	width: 12px;
	height: 12px;
	margin-left: 5px;
	vertical-align: -1px;
	background-color: #f5f5f5;
	color: #757575;	
}

.card-feed__content{
	margin-top: 30px;
}

.card-item-writer{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	position: relative;
	min-height: 36px;
	margin: 0 0 16px;
	padding: 0 0 0 48px;
}

.card-item-writer__content{
	flex: 0 0 auto;
	margin-top: -5px;
	font-size: 15px;
	line-height: 20px;
}

.card-item-writer_header{
	display: flex;
}

.card-item-writer_link{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    transition: opacity .1s;
    display: inline-block;
    min-width: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-item-writer_image{
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: #ededed;
}

.card-item-writer_name{
	font-weight: 600;
}

.card-item-writer_introduction{
	margin-top: 2px;
	font-size: 10px;
	line-height: 16px;
	color: #757575;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-item_content{
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.card-item-description{
	margin: 0 15px 10px;
	font-size: 15px;
	line-height: 22px;
	transition: opacity .1s;
	font-weight: 500;
}

.card-item__description.card-item-description{
	font-size: 15px;
	line-height: 22px;
	transition: opacity .1s;
}

.card-item-description__content{
	max-height: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	margin-top: 10px;
}

.card-item-image{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	width: 100%;
	padding-bottom: 77.6%;
	background-color: #ededed;
	overflow: hidden;
	border-radius: 6px;
}

.card-item-image .image{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	transform: translate(-50%,-50%);
	transition: transform .2s;
	cursor: pointer;
}

.card-item-image_view-count{
	position: absolute;
	bottom: 12px;
	right: 12px;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,.5);
}

.card-item-action-list{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: -12px;
}

.card-item-action-list__action{
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0px;
	-moz-box-flex: 1;
	-moz-flex: 1 0 0px;
	-ms-flex: 1 0 0px;
	flex: 1 0 0px;
	position: relative;
	display: block;
	margin: 0;
	padding: 13px 0 16px;
	background: none;
	border: none;
	text-align: center;
	transition: opacity .1s;
	z-index: 2;
}

.card-item-action-list__action > .icon--stroke{
	fill: transparent;
	stroke: #424242;
	stroke-width: 1.1px;
	transition: fill .1s,stroke .1s;
	pointer: cursor;
}

.card-item-action-list__action > .icon{
	vertical-align: -7px;
}

.card-item-action-list__action > .count{
	margin-left: 6px;
	font-size: 12px;
	color: #424242;
}

.card-item-comment-wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: relative;
    min-height: 24px;
    margin: 12px 0 0;
    padding: 0 0 0 34px;
}

.card-item-comment{
    max-height: 66px;
    padding: 4px;
    margin: -4px;
    font-size: 15px;
    line-height: 22px;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card-item-comment__writer{
	display: inline;
    font-weight: 700;
}

.card-item-comment__writer__link{
    transition: opacity .1s;
    display: inline-block;
}

.card-item-comment__writer__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ededed;
}

.card-item-comment__writer__separator{
    display: inline-block;
    width: 4px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.card-item-comment__writer__name{
	font-weight: bold;
}

.card-item-comment__content{
	display: inline;
	font-weight: normal;
}

.drop-down-panel{
	position: absolute;
    z-index: 1010;
    /* top: 265px;
    left: 140px; */
    width: 140px;
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    transition: visibility 0s ease 0.1s, opacity 0.1s, transform 0.1s;
}

.drop-down-panel:after{
	content: "";
    position: absolute;
    display: block;
    left: 20px;
    border-style: solid;
    top: -9px;
    margin: 0 1px;
    border-width: 0 9px 9px;
    border-color: transparent transparent #efeff5;
}
	
.drop-down-panel>.panel-entry-list{
	max-height: 425px;
   	overflow: auto;
}

.drop-down-panel .panel-entry-list{
	position: relative;
    min-height: 50px;
}

.panel-entry-list__item-wrap.selected{
	background-color: #35c5f0;
	font-weight: 700;
}

.panel-entry-list{
	margin: 0;
    padding: 0;
    list-style: none;
}

.panel-entry-list__item{
	display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    background: #fff;
    color: #424242;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.panel-entry-list__item.selected{
	color: #35c5f0;
	font-weight: 700;
}

.panel-entry-list__item__title{
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.panel-entry-list__item__header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.panel-entry-list__item__right, .panel-entry-list__item__title{
	max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 375px){
	.container {
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	    width: calc(100% - 30px);
	    max-width: 100%;
	    box-sizing: border-box;
	    min-height: 1px;
	}
	
	.row{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-right: -5px;
		margin-left: -5px;
	}
}

@media only screen and (min-width: 768px){
	.container {
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	    width: calc(100% - 80px);
	    max-width: 100%;
	    box-sizing: border-box;
	    min-height: 1px;
	}
	
	.row{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-right: -7.5px;
		margin-left: -7.5px;
	}
	
	.col-md-4{
		position: relative;
		width: 100%;
		min-height: 1px;
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.3333333333%;
		-moz-box-flex: 0;
		-moz-flex: 0 0 33.3333333333%;
		-ms-flex: 0 0 33.3333333333%;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
		padding-right: 5px;
		padding-left: 5px;
	}
}

@media only screen and (min-width: 1024px){
	.container {
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	    width: calc(100% - 120px);
	    max-width: 100%;
	    box-sizing: border-box;
	    min-height: 1px;
	}
	
	.row{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-right: -7.5px;
		margin-left: -7.5px;
	}
	
	.col-lg-3{
		position: relative;
		width: 100%;
		min-height: 1px;
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-moz-box-flex: 0;
		-moz-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		padding-right: 5px;
		padding-left: 5px;
	}
}

@media only screen and (min-width:1250px){
	.container {
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	    width: 1136px;
	    max-width: 100%;
	    box-sizing: border-box;
	    min-height: 1px;
	}
}

.card-item{
	padding-bottom: 40px;
}

