@charset "utf-8";

main {
	flex: 1 0 auto;
	height: 100%;
	
}

body {
	display: flex;
	flex-flow: column;
	height: 100%;
}

header, footer, main {
	box-sizing: border-box;
	position: relative;
	display: block;
}

input, textarea, select{
	font-family: inherit;
	font-weight: inherit;
}

body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, textarea, 
p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

ol,ul {
	list-style: none;
}

a, button{  
	cursor: pointer;
}

.icon {
	width: 80px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 400px;	
	cursor: pointer;
}

.PhotoWriteForm-logo-wrap {
	margin: 0 auto -10px;
	padding: 20px 15px 0;
	text-align: left;
}

.container{
	
	margin-right: auto;
	margin-left: auto;
	width: calc(100% - 100px);
	max-width: 943px;
	box-sizing: border-box;
	min-height: 1px;
}

.Photo-Write-Form {
	position: relative;
	margin-top: 40px;
}

.Photo-Write-Form_Title{
	font-size: 25pt;
	margin-bottom: 40px;
	font-weight: 800;
}

.Photo-Write-Form_Metadata{
	margin: 0 -5px 30px;
}

.Photo-Write-Form_Metadata_entry{
	display: inline-block;
	margin: 0 5px 10px;
	width: auto;
}

.select-input{
	position: relative;
}

.Photo-Write-Form_photo-section{
	position: relative;
}

.Photo-Write-Form_photo-section_overview_container{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 115px;
}

.Photo-Write-Form_photo-section_overview-wrap{
	position: sticky;
	top: 0px;
}

.Photo-Write-Form_photo-section_overview{
	margin: -20px 0 0;
	padding: 20px 0 80px;
}

.Photo-Write-Form_photo-item{
	position: relative;
	margin: 0 -12px;
	padding: 0 0 40px;
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
}

.Photo-Write-Form_photo-item_content, .Photo-Write-Form_photo-item_image-wrap{
	flex: 0 0 auto;
	padding: 0 12px;
	width: 39%;
	box-sizing: border-box;
	max-width: 460px;
	
}

.Photo-Write-Form_photo-image-upload{
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0;
	border: none;
	background: #f5f5f5;
	border-radius: 10px;
	font-family: inherit;
}

.Photo-Write-Form_photo-image-upload>.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 0;
}

.Photo-Write-Form_photo-image-upload>.content>#icon{
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0 auto 10px;
}

.Photo-Write-Form_photo-image-upload>.content>.text{
	display: block;
	font-size: 10px;
	font-weight: 700;
	line-height: 20px;
	color: #757575;
}

.Photo-Write-Form_photo-item_content{
	width: 50%;
}

.Photo-Write-Form_photo-item_content_row{
	margin-bottom: 10px;
}

.Photo-Write-Form_photo-item_content_row .form-control{
	font-size: 10pt;
	margin-bottom: 10px;
}

.select-input > .form-control{
	width: 100%;
	padding-right: 30px;
	background-image: none;
	color: #bdbdbd;
}

.select-input > .form-control > option{
	color: black;
}

textarea.form-control{
	resize: none;
	line-height: 1.38;
	padding-top: 13px;
	padding-bottom: 13px;
}

.form-control{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
	border-radius: 5px;
}

Photo-Write-Form_photo-item_content_row .text-area-input{
	min-height: 150px;
}

.Photo-Write-Form_footer{
	display: flex;
	-webkit-box-pack: end;
	justify-content: end;
	padding: 10px 20px;
	border-top: 1px solid #dbdbdb;
	width: 100%;
}

.button{
	font-size: 17px;
	font-family: inherit;
	font-weight: 700;
	line-height: 26px;
	display: inline-block;
	margin: 0;
	box-sizing: border-box;
	background: none;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-color-blue{
	background-color: #35c5f0;
	border-color: #35c5f0;
	color: white;
}

.Photo-Write-Form_footer_submit{
	padding: 11px 30px;
}

.keyword-input_input-item{
	display: inline-block;
	margin: 3px;
	max-width: calc(100% - 6px);
	position: relative;
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
	color: #757575;
}

.keyword-input_input-item_input{
	-webkit-appearance: none;
	max-width: calc(100%-26px);
	padding: 5px 8px 6px 18px;
	color: #757575;
	background-color: #f5f5f5;
	border: none;
	border-radius: 4px;
	transition: box-shadow .2s;
}

.card-collection-form__card-section__upload-button{
	display: block;
	width: 87%;
	margin: 0 0 40px;
	padding: 20px 0;
	border: none;
	background: #f5f5f5;
	color: #757575;
	font-family: inherit;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	transition: opacity .1s;
	border-radius: 4px;
}

.card-collection-form__card-image{
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	min-height: 80px;
	box-sizing: border-box;
	background-color: #ededed;
}

.card-collection-form__card-image__image{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%,-50%);
}

